body {
  width: 100%;
  margin: auto;
}
/*--------------------------------- Navbar CSS---------------------------------------*/
.navbar_container {
  display: flex;

  background-color: rgb(59, 156, 197);
  justify-content: space-between;
  height: 80px;
  align-items: center;
  font-weight: bold;
  width: auto;
  overflow: hidden;
}
.logo {
  margin-left: 20px;
  margin-right: 10px;
  width: auto;

  font-size: xx-large;
}
.navbar_search-input {
  width: auto;
  height: 30px;
}
.navbar_search-button {
  height: 35px;
}

.watchlist_button,
.navbar_rate-button {
  margin-right: 10px;
  width: auto;
  height: 40%;
  font-size: larger;
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.watchlist_button:hover,
.navbar_rate-button:hover {
  background-color: #6e7777;
}

/*--------------------------------- Cards grid and Card CSS---------------------------------------*/

.movies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}
.movie_card {
  background-color: rgb(59, 156, 197);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  height: min-content;
}
.movie_card_info svg {
  color: #f7d354;
  margin-left: 10px;
  font-size: 1.5rem;
}
.movie_card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.add_remove_button {
  width: 100px;
  height: 30px;
  margin: 2px;
  font-size: larger;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add_remove_button:hover {
  background-color: #6e7777;
}

.movie_card_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 0.3s ease;
}
.movie_card_image:hover {
  opacity: 0.7;
}
.rating {
  font-size: x-large;
}

/*-------------Watchlist------------------------*/
.watchlist_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------MovieInfo Component------------------------*/
.movie_info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.movie_info_image {
  max-width: 100%;
  border-radius: 10px;
}

.movie_info_title {
  font-size: 30px;
  margin-bottom: 5px;
}

.movie_info_rating {
  font-size: 20px;
  margin-bottom: 10px;
}
.movie_info_rating svg {
  color: #f7d354;
  margin-left: 10px;
  font-size: 1.5rem;
}

.movie_info_release_date_div,
.movie_info_Overview_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie_info_release_date_header,
.movie_info_Overview_header {
  font-size: 30px;
  margin-right: 10px;
}

.movie_info_release_date,
.movie_info_Overview {
  font-size: 20px;
  margin-bottom: 10px;
}
